# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
bak/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage/


# Go workspace file
go.work

dist/
